<%= stylesheet_link_tag 'borrowed_list' %>
<% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:success] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>
<h3>Borrowed books</h3>
<div class="mainContainer">

   <% @borrowed_books.each do |book| %>

      <% if Borrow.exists?(user_id: session[:user_id], book_id: book.id, return_book: false) && Borrow.exists?(user_id: session[:user_id], book_id: book.id, lose_book: false) %>

		      <div class="card" id="assembly-card">
			      <div class="card-title"><%= book.name %></div>
             <%= link_to 'Learn More', book_path(book), class: 'card_link' %>
		      </div>

		  <% end %> 


    <% end %>



</div>


<h3>Returned books</h3>
<div class="mainContainer">

   <% @borrowed_books.each do |book| %>

      <% if Borrow.exists?(user_id: session[:user_id], book_id: book.id, return_book: true) || Borrow.exists?(user_id: session[:user_id], book_id: book.id, lose_book: true) %>

		      <div class="card" id="assembly-card">
			    <div class="card-title"><%= book.name %></div>
          <%= link_to 'Learn More', book_path(book), class: 'card_link' %>
		      </div>

		  <% end %> 


    <% end %>



</div>
