<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Books Admin Page</h1>
  <%= link_to 'New Book', new_book_path, class: 'btn btn-success' %>
</div>

<% if @books.count >= 1 %>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Book count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= book.available_book_count %></td>
          <td>
            <%= link_to 'Edit', edit_book_path(id: book.id), class: 'btn btn-primary btn-sm' %>
            
          </td>
          <td>
          <%= button_to 'Delete', book_path(book), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
          <td>
            <%= link_to 'show', book_path(id: book.id), class: 'card_link' %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No books added yet.</p>
<% end %>

